.card { 
    width: 340px;
    display: block;
    background-color:rgba(247,247,250,1); 
    filter:drop-shadow(2px 2px 0 #5150761A); 
    padding: 25px;
}

.photo_item {
    width: 100%;
    width: 290px;
    height: 245px;
}

.card_type {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #A5A3B9;
}

.card_name {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card_description {
    line-height: 18px;
    font-weight: 400;
}

.card_description p:first-child {
    margin-top: 0;
}

.card_description p {
    margin-bottom: 15px;
}

.products_ingredients {
    line-height: 13px;
    font-weight: 400;
}


